<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre | Ricardo Nelber</title>
  <link rel="stylesheet" href="../assets/css/style.css">
   <link rel="stylesheet" href="../assets/css/sobre.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="logo">Ricardo <span>Nelber</span></div>
    <ul class="nav-links">
      <li><a href="../index.html">Home</a></li>
      <li><a href="sobre.html">Sobre</a></li>
      <li><a href="projetos.html">Projetos</a></li>
      <li><a href="contato.html">Contato</a></li>
    </ul>
  </nav>
  <main>
    <section class="sobre-section">
      <div class="sobre-card">
        <h1>Sobre Mim</h1>
        <p>Olá! Meu nome é <strong>Ricardo Nelber</strong> e sou estudante de Análise e Desenvolvimento de Sistemas (ADS). Sou apaixonado por tecnologia, inovação e desenvolvimento de soluções que impactam positivamente a vida das pessoas. Busco sempre evoluir, aprender novas tecnologias e aplicar metodologias ágeis no desenvolvimento de projetos.</p>
        <p>Tenho experiência acadêmica e prática com as seguintes tecnologias:</p>
        <div class="tecnologias-cards">
          <div class="tec-card">PHP</div>
          <div class="tec-card">Java</div>
          <div class="tec-card">JavaScript</div>
          <div class="tec-card">HTML</div>
          <div class="tec-card">CSS</div>
          <div class="tec-card">SQL</div>
          <div class="tec-card">Metodologias Ágeis</div>
          <div class="tec-card">GitHub</div>
          <div class="tec-card">Prompt eficiente</div>
          <div class="tec-card">IAs</div>
          <div class="tec-card">Trello</div>
          <div class="tec-card">miro</div>
          <div class="tec-card">figma</div>
          <div class="tec-card">Codex</div>
        </div>
        <p class="frase sobre-frase">"A evolução é fruto da persistência, a persistência leva a comquista"</p>
      </div>
    </section>
  </main>
  <script src="../assets/js/main.js"></script>
</body>
</html>
